@inherits LayoutComponentBase
@inject HistoricalNavigator HisNav
@inject NavigationManager NavMan

<PageTitle>BlazorApp6</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div>
                Index in history: @NavMan.HistoryEntryState
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
