@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="list-group">
    <a class="list-group-item" href="/counter">Counter</a>
    <a class="list-group-item" href="/fetchdata">Fetch data</a>
</div>
